<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="icon" href="icon/index.png"/>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap.theme.min.css"/>
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
    <style>
        a {
            text-decoration: none;
        }
    </style>
</head>
<body>
<form>
    <ul class="list-group">
        <li class="list-group-item list-group-item-primary" aria-current="true">Kafka-ACLs</li>
        <li class="list-group-item list-group-item-action"><a class="hyperLink" href="/send">发送消息</a></li>
        <li class="list-group-item list-group-item-action"><a class="hyperLink" href="/list">配置列表</a></li>
        <li class="list-group-item list-group-item-action"><a class="hyperLink" href="/create">新建配置</a></li>
    </ul>
</form>
</body>
</html>